@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  
}
html{
  scroll-behavior: smooth;
}

body{
  background: #FFFFFF;  
  height: 1971px;
  max-width: 2000px;
 
}
.header {
  height: 85px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  
}
.left-section {

  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.logo {
  padding-right: 2px;
  cursor: pointer;
}
.logo-name {
  width: 130px;
  height: 33px;
  cursor: pointer;
  text-decoration: none;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
 /* identical to box height */
  color: #000000;
  padding-top: 10px;

}

.right-section {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  justify-content: space-between;
  padding-left: 150px;
 
  
}
.right-section .home-container {
  background-color: #ffffff;
  height: 85px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height */
  color: #000000;
  padding-top: 30px;
 
  
}
.right-section .about-us-container {
  background-color: #ffffff;
  height: 85px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height */
  color: #000000;
  padding-top: 30px;
  
}
.right-section .gallery-container {
  background-color: #ffffff;
  height: 85px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height */
  color: #000000;
  padding-top: 30px;
}
.right-section .nav-name {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
.right-section .nav-name:hover {
  color: #FFFFFF;
}

.right-section .home-container:hover  {
  background-color: #8AA12E;
  cursor: pointer;
}
.right-section .about-us-container:hover {
  background-color: #8AA12E;
  cursor: pointer;
}
.right-section .gallery-container:hover {
  background-color: #8AA12E;
  cursor: pointer;
}

.nav-name {
  margin: 30px 10px;
}

.home {
  max-width: 2000px;
  width: 100%;
  height: 678px;
  margin-top: 85px;
  background-image: url(/images/background1.png);
  background-repeat: no-repeat;
  background-size: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.home .title {
  width: 414px;
  height: 120px;
  margin-left: 140px;
  margin-top: 90px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 120px;

  color: #995151;
}

.home .description {
  width: 402px;
  height: 90px;
  margin-left: 155px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  color: #FFFFFF;
}

.home .button1 {
  width: 182px;
  height: 53px;
  margin-left: 155px;
  margin-top: 10px;
  background: #8AA12E;
  border-radius: 20px; 

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  color: #FFFFFF;

  text-transform: uppercase;
  text-decoration: none;

  padding: 13px 36px;
}

.about-us {
  width: 100%;
  height: auto;
}
.about-us-title {
  width: 182px;
  height: 53px;
  margin-top: 43px;
  
  background: #995151;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height */
  color: #FFFFFF;
  padding: 10px 36px;
}

.about-us .circle-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 141px;
    padding-right: 141px;
    justify-content: center;
    padding-top: 70px;
}
.about-us .circle-container .circle1 {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background: #D9D9D9;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 50px 50px;
}

.about-us .circle-container .circle .description1 {
  width: 239px;
  height: 105px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  padding-top: 18px;
  color: #000000;
}

.about-us .circle-container .circle1:hover {
  background-color: #995151;
}

.gallery {
  width: 100%;
  height: auto;
}

.gallery-title {
  position: relative;
  width: 182px;
  height: 53px;
  margin-top: 120px;

  background: #C1ACAC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height */
  
  color: #FFFFFF;

  padding: 10px 45px;
}

.gallery .box-container {
  background-color: #995151;
  width: 100%;
  height: 519px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 100px;
  padding-right: 100px;
  justify-content: center;
  padding-top: 97px;
  margin-top: -25px;
}

.gallery .box-container .box1 {
  width: 290px;
  height: 263px;
 
  background: #D9D9D9;
  border-radius: 10px;
  padding: 75px 86px;
}

.gallery .box-container .box .description2 {
  width: 151px;
  height: 33px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height */
  color: #FFFFFF;
  padding-top: 18px;
}
